<div
  [class]="chatService.fullscreen() ? 'full-screen-chat' : 'chatListContainer'"
>
  @if (spinner()) {
    <div class="spinner-overlay">
      <div class="whatsapp-spinner-small"></div>
    </div>
  } @else {
    <!-- Lista delle Chat -->
    @if (!chatService.currentChat()) {
      <div id="ChatHeader" class="elementi-laterali p-3">
        <div>
          <h2 class="text-center flex-grow-1">Miciomania Chat</h2>
        </div>
        <div style="display: flex; align-items: center; gap: 0.5rem">
          <i
            class="pc-only"
            style="font-size: 1.2rem; display: inline-block"
            [class]="
              chatService.fullscreen()
                ? 'bi bi-fullscreen-exit'
                : 'bi bi-fullscreen'
            "
            (click)="chatService.fullscreen.set(!chatService.fullscreen())"
          ></i>
          <i class="bi bi-x icon-size" (click)="chiudiChat.emit()"></i>
        </div>
      </div>

      <app-chat-all
        [allGruppi]="allGruppi"
        [allGruppiRecord]="allGruppiRecord"
        (apriGruppo)="chatService.currentChat.set($event)"
      ></app-chat-all>
    }
    <!-- Chat Selezionata -->
    @else {
      <div id="ChatHeader" class="elementi-laterali p-3">
        <i class="bi bi-arrow-left fs-3" (click)="loadComplete()"></i>
        <h2 class="text-center flex-grow-1">
          {{ allGruppiRecord[chatService.currentChat() || 0].chat || "N.B." }}
        </h2>
        <div style="display: flex; align-items: center; gap: 0.5rem">
          <i
            class="pc-only"
            style="font-size: 1.2rem; display: inline-block"
            [class]="
              chatService.fullscreen()
                ? 'bi bi-fullscreen-exit'
                : 'bi bi-fullscreen'
            "
            (click)="chatService.fullscreen.set(!chatService.fullscreen())"
          ></i>
          <i class="bi bi-x icon-size" (click)="chiudiChat.emit()"></i>
        </div>
      </div>

      <app-chat-group
        [chatId]="chatService.currentChat()!"
        [messages]="messages()"
        [messaggiComp]="messaggiComp"
      ></app-chat-group>
    }
  }
</div>
