<div class="container py-4">
  <app-header-elementi [elemLang]="elemLang"></app-header-elementi>

  <app-griglia-elementi
    [elemLang]="elemLang"
    [creaProposta]="creaProposta"
    [eu]="eu"
    [punteggioNecessario]="punteggioNecessario"
    [userPunteggio]="userPunteggio"
  ></app-griglia-elementi>
</div>

@if (creaProposta.componente) {
<app-crea-proposta
  [elemLang]="elemLang"
  [userId]="userId"
  [parodieUtente]="eu"
  [tornaAllaHome]="tornaAllaHome"
  (chiudi)="creaProposta.componente = false"
></app-crea-proposta>
}
