<div class="mt-5">
  <app-header-custom
    [titolo]="elemLang.titolo"
    [descrizione]="elemLang.descrizione1"
    [messaggio]="elemLang.descrizione2"
  ></app-header-custom>

  @if (eu()) {
    <div class="mt-2">
      <app-griglia-elementi
        [elemLang]="elemLang"
        [creaProposta]="creaProposta"
        [eu]="eu()!"
        [punteggioNecessario]="punteggioNecessario"
        [userPunteggio]="userPunteggio"
      ></app-griglia-elementi>

      @if (creaProposta.componente) {
        <app-crea-proposta
          [elemLang]="elemLang"
          [userId]="userId"
          [parodieUtente]="eu()!"
          [tornaAllaHome]="tornaAllaHome"
          (chiudi)="creaProposta.componente = false"
        ></app-crea-proposta>
      }
    </div>
  } @else {
    <app-spinner></app-spinner>
  }
</div>
