@if (component() != "print") {
  <app-custom-navbar
    [altriBottoni]="bottoniNavbar"
    [selected]="component"
  ></app-custom-navbar>
}

@if (!error()) {
  @switch (component()) {
    @case ("Squadre") {
      <app-punteggi-component
        [squadreLang]="squadreLang"
        [setClassifica]="classifica()"
        (captureElement)="captureElement()"
      ></app-punteggi-component>
    }
    @case ("Mappa") {
      <app-mappa-squadre
        [paths]="pathRecord['regioni']"
        [setConquiste]="githubService.conquiste()"
      ></app-mappa-squadre>
    }
    @case ("Muscoli") {
      <app-mappa-squadre
        [paths]="pathRecord['muscoli']"
        [viewBox]="'0 0 700 1200'"
        [translate]="'translate(0, -60)'"
        [dim]="[500, 700]"
        [keyConquiste]="'muscoli'"
        [titleChart]="'Muscoli Allenati'"
        [setConquiste]="githubService.conquiste()"
      ></app-mappa-squadre>
    }
    @case ("print") {
      <app-chart-print [classifica]="classifica()"></app-chart-print>
    }
    @case ("M-N") {
      <app-m-n
        [squadreLang]="squadreLang"
        [setMN]="githubService.mn()"
      ></app-m-n>
    }
  }
} @else {
  <app-error-http></app-error-http>
}
