@if (component() != "print") {
  <app-custom-navbar
    [goHomeBotton]="'home'"
    [altriBottoni]="bottoniNavbar"
    [selected]="component"
  ></app-custom-navbar>
}

@if (!error()) {
  @switch (component()) {
    @case ("Squadre") {
      <app-punteggi-component
        [squadreLang]="squadreLang"
        [classifica]="classifica"
        (captureElement)="captureElement()"
      ></app-punteggi-component>
    }
    @case ("Mappa") {
      <app-mappa-squadre
        [setConquiste]="githubService.conquiste()"
      ></app-mappa-squadre>
    }
    @case ("print") {
      <app-chart-print [classifica]="classifica()"></app-chart-print>
    }
    @case ("M-N") {
      <app-m-n
        [squadreLang]="squadreLang"
        [setMN]="githubService.mn()"
      ></app-m-n>
    }
  }
} @else {
  <app-error-http></app-error-http>
}
