<!-- Hero Section -->
<div style="overflow-x: hidden">
  <app-header-custom
    [bottoni]="pulsanti"
    [titolo]="mmicioLang.titolo"
    [descrizione]="mmicioLang.descrizione"
  ></app-header-custom>

  @if (elem()) {
    <!-- Sezione Manga Miciomania -->
    <section class="mt-3">
      <app-custom-scroll
        [titolo]="mmicioLang.titoloScrollGiu"
        [icona]="'bi bi-arrow-down'"
        [nomeIcona]="mmicioLang.iconaScrollGiu"
        [idComponent]="'MangaUtente'"
        [lunghezzaFiltro]="elem()?.mangaMiciomania?.length || 0"
      ></app-custom-scroll>

      <div class="grid-card-layout px-2 mt-3">
        @for (manga of elem()?.mangaMiciomania; track $index) {
          <app-card-custom
            [link]="manga.copertina || mangaDefaultPic"
            [titolo]="manga.nome"
            [descrizioneHTML]="
              `Genere: <strong>${manga.genere}</strong><br>
              Autore: <em>${manga.idUtente}</em>`
            "
            [titoloBottone]="mmicioLang.scarica"
            [classBody]="'manga-class'"
            [tipo]="'Manga'"
            [altezzaImg]="'20rem'"
            (clickBotton)="mangaSongUtilities.downloadManga(manga)"
          ></app-card-custom>
        }
      </div>
    </section>

    <!-- Sezione Manga Utente -->
    <section id="MangaUtente" class="mt-3">
      <app-custom-scroll
        [titolo]="mmicioLang.titoloScrollSu"
        [icona]="'bi bi-arrow-up'"
        [nomeIcona]="mmicioLang.iconaScrollSu"
        [top]="210"
        [lunghezzaFiltro]="elem()?.mangaUtentePars?.length || 0"
      ></app-custom-scroll>

      <div class="grid-card-layout px-2 mt-3">
        @for (manga of elem()?.mangaUtentePars; track $index) {
          <app-card-custom
            [link]="manga.copertina || mangaDefaultPic"
            [titolo]="manga.nome"
            [descrizioneHTML]="
              `Genere: <strong>${manga.genere}</strong><br>
              Autore: <em>${manga.idUtente}</em>`
            "
            [classBody]="'manga-class'"
            [titoloBottone]="mmicioLang.scarica"
            [tipo]="'Manga'"
            [altezzaImg]="'20rem'"
            (clickBotton)="mangaSongUtilities.downloadManga(manga)"
          ></app-card-custom>
        }
      </div>
    </section>
  } @else {
    <app-spinner [mt]="10"></app-spinner>
  }
</div>
