<app-custom-navbar [altriBottoni]="pulsanti"></app-custom-navbar>

@if (sezioni().length > 0) {
  <app-custom-scroll [sezioni]="sezioni()">
    <div primo>
      @if (mangaMiciomania().length > 0) {
        <app-card-custom
          [elems]="mangaMiciomania"
          [classBody]="'manga-class'"
          [tipoBottone]="'Download'"
          [altezzaImg]="'20rem'"
          [tipoSlice]="'page'"
        ></app-card-custom>
      }
    </div>

    <div secondo>
      @if (mangaUtente().length > 0) {
        <app-card-custom
          [elems]="mangaUtente"
          [classBody]="'manga-class'"
          [tipoBottone]="'Download'"
          [altezzaImg]="'20rem'"
          [tipoSlice]="'page'"
        ></app-card-custom>
      } @else {
        <div class="elementi-colonna">
          <h3>Non ci sono Manga in questa sezione</h3>
          <p>Vai su invia Proposta e inizia a mandarne una</p>
        </div>
      }
    </div>
  </app-custom-scroll>
} @else {
  <app-spinner [mt]="'10rem'"></app-spinner>
}
