<app-container-micio>
  <app-descrizione-micio
    [titolo]="'Canzoni'"
    [descrizione]="
      'Ascolta le tue canzoni preferite cantate da Miciomania e Sirius'
    "
    [immagine]="'https://images.unsplash.com/photo-1515879218367-8466d910aaa4'"
  >
    <div half-row>
      <app-toolbar-micio
        [stats]="canzoniToolbar()"
        [placeholder]="'Cerca per nome, autore...'"
        [(searchQuery)]="searchQuery"
      />
    </div>

    <div all-row>
      <br />

      <app-sidebar-indy
        [titolo]="'Categorie'"
        [elementi]="categorie"
        [(selezionato)]="currentCategoria"
      >
        @if (canzoni().length > 0) {
          <app-card-indy
            [elems]="filtri().elemFilter()"
            [altezzaImg]="'15rem'"
            [lunghezzaCard]="'18rem'"
            (changeButton)="currentButton = $event"
            [(currentButton)]="currentButtonSignal"
            [tipoSlice]="'page'"
            [tipoPaginazione]="'multiplo'"
            [arrayPags]="arrayRaggi"
          />
        } @else {
          <app-spinner-indy [mt]="'5rem'" />
        }
      </app-sidebar-indy>
    </div>
  </app-descrizione-micio>
</app-container-micio>
