@if (utenteCaricato()) {
  <div class="container">
    <div class="row">
      <div class="col-md-8 offset-md-2">
        <app-custom-navbar
          [tornaIndietro]="tornaIndietroPath"
        ></app-custom-navbar>

        <app-card-profilo
          [profilo]="profilo"
          [profiloPersonale]="profiloPersonale"
          [socialArray]="socialArray"
          [spinnerTemplate]="spinnerTemplate"
          (modaleAperta)="modaleAperta.set($event)"
        ></app-card-profilo>

        <app-sezione-tweet
          [profilo]="profilo"
          [profiloPersonale]="profiloPersonale"
          [spinnerTemplate]="spinnerTemplate"
          (eliminaTweet)="eliminaTweet($event)"
          (modaleAperta)="modaleAperta.set($event)"
        ></app-sezione-tweet>
      </div>
    </div>
  </div>

  @switch (modaleAperta()) {
    @case ("new-tweet") {
      <app-modal-indy [title]="'Nuovo Tweet'" (close)="modaleAperta.set('')">
        <div bodyModal>
          <app-form-indy
            [strutturaForm]="newTweetForm"
            (invioDati)="inviaTweet($event)"
          >
          </app-form-indy>
        </div>
      </app-modal-indy>
    }

    @case ("change-pic") {
      <app-modal-indy
        [title]="'Modifica Immagine'"
        [subtitle]="'Carica una nuova immagine'"
        [width]="'sm'"
        [showFooter]="false"
        (close)="modaleAperta.set(''); this.newProfilePic.set(null)"
      >
        <div bodyModal>
          <app-form-indy
            [strutturaForm]="changePicForm"
            [visualizzaPulsanti]="false"
            (subscribeForm)="this.newProfilePic.set($event.imgProfilo)"
          ></app-form-indy>

          <button
            class="btn btn-primary w-100"
            style="border-radius: 30px; font-weight: 500"
            [disabled]="!this.newProfilePic()"
            (click)="onUpload(this.newProfilePic())"
          >
            {{ "Carica Immagine" }}
          </button>
        </div>
      </app-modal-indy>
    }
  }
}

<ng-template #spinnerTemplate>
  <app-spinner-indy [mt]="'10rem'"></app-spinner-indy>
</ng-template>
