<div
  class="container border border-primary rounded-lg p-4 shadow-lg text-center"
  style="max-width: 75rem; background-color: #f8f9fa"
>
  <!-- Dettagli -->
  <app-dettagli-game
    [titolo]="'Sudoku 🧩'"
    [descrizione]="
      'Il Sudoku è un gioco di logica e ragionamento che sfida la tua mente a completare una griglia 9x9 con numeri da 1 a 9, assicurandoti che ogni numero appaia una sola volta in ogni riga, colonna e regione 3x3. Mettiti alla prova con questo classico rompicapo altrimenti Carlotta non ti prenderà come cagnolino 🧠✨'
    "
  ></app-dettagli-game>

  <!-- Tabella -->
  <div id="SudokuTable">
    <div class="sudoku-container">
      <table class="sudoku-table">
        <tbody>
          @for (row of sudokuBoard; track $index; let x = $index) {
            <tr>
              @for (cell of row; track $index; let y = $index) {
                <td>
                  <input
                    id="{{ 'cell-' + x + '-' + y }}"
                    type="text"
                    class="sudoku-input"
                    [class.fixed]="cell.isVisible"
                    maxlength="1"
                    [value]="cell.isVisible ? cell.value : ''"
                    [readonly]="cell.isVisible"
                    (input)="inserisciNumero($event, cell)"
                  />
                </td>
              }
            </tr>
          }
        </tbody>
      </table>
    </div>
  </div>
</div>
