<div class="card-header text-center">
  <h3 class="h4">Registrati</h3>
</div>

<div class="card-body">
  <form [formGroup]="signInForm" (ngSubmit)="onSubmit()">
    <!-- Campo Nome -->
    <div class="form-group mb-4">
      <label for="nome" class="h5">Nome</label>
      <input
        type="text"
        id="nome"
        class="form-control form-control-lg"
        formControlName="nome"
        [ngClass]="{
          'is-invalid':
            ((f['nome'].touched && f['nome'].invalid) || clickRegistrati) &&
            f['nome'].invalid,
          'is-valid': clickRegistrati && f['nome'].valid
        }"
      />

      @if (((f['nome'].touched && f['nome'].invalid) || clickRegistrati) &&
      f['nome'].invalid) {
      <div class="invalid-feedback">
        @if (f['nome'].errors?.['required']) {
        <div>Il nome è obbligatorio.</div>
        } @if (f['nome'].errors?.['minlength']) {
        <div>Il nome deve avere almeno 3 lettere.</div>
        }
      </div>
      } @if (clickRegistrati && f['nome'].valid) {
      <div class="valid-feedback">Nome valido!</div>
      }
    </div>

    <!-- Campo Username -->
    <div class="form-group mb-4">
      <label for="username" class="h5">Username</label>
      <input
        type="text"
        id="username"
        class="form-control form-control-lg"
        formControlName="username"
        [ngClass]="{
          'is-invalid':
            ((f['username'].touched && f['username'].invalid) ||
              clickRegistrati) &&
            f['username'].invalid,
          'is-valid': clickRegistrati && f['username'].valid
        }"
      />

      @if (((f['username'].touched && f['username'].invalid) || clickRegistrati)
      && f['username'].invalid) {
      <div class="invalid-feedback">
        @if (f['username'].errors?.['required']) {
        <div>Username richiesto.</div>
        } @if (f['username'].errors?.['minlength']) {
        <div>L'username deve avere almeno 3 lettere.</div>
        }
      </div>
      } @if (clickRegistrati && f['username'].valid) {
      <div class="valid-feedback">Username valido!</div>
      }
    </div>

    <!-- Campo Email -->
    <div class="form-group mb-4">
      <label for="email" class="h5">Email</label>
      <input
        type="email"
        id="email"
        class="form-control form-control-lg"
        formControlName="email"
        [ngClass]="{
          'is-invalid':
            ((f['email'].touched && f['email'].invalid) || clickRegistrati) &&
            f['email'].invalid,
          'is-valid': clickRegistrati && f['email'].valid
        }"
      />

      @if (((f['email'].touched && f['email'].invalid) || clickRegistrati) &&
      f['email'].invalid) {
      <div class="invalid-feedback">
        @if (f['email'].errors?.['required']) {
        <div>Email richiesta.</div>
        } @if (f['email'].errors?.['email']) {
        <div>Formato email non valido.</div>
        }
      </div>
      } @if (clickRegistrati && f['email'].valid) {
      <div class="valid-feedback">Email valida!</div>
      }
    </div>

    <!-- Campo Password -->
    <div class="form-group mb-4">
      <label for="password" class="h5">Password</label>
      <input
        type="password"
        id="password"
        class="form-control form-control-lg"
        formControlName="password"
        [ngClass]="{
          'is-invalid':
            ((f['password'].touched && f['password'].invalid) ||
              clickRegistrati) &&
            f['password'].invalid,
          'is-valid': clickRegistrati && f['password'].valid
        }"
      />

      @if (((f['password'].touched && f['password'].invalid) || clickRegistrati)
      && f['password'].invalid) {
      <div class="invalid-feedback">
        @if (f['password'].errors?.['required']) {
        <div>Password richiesta.</div>
        } @if (f['password'].errors?.['minlength']) {
        <div>La password deve essere lunga almeno 6 caratteri.</div>
        }
      </div>
      } @if (clickRegistrati && f['password'].valid) {
      <div class="valid-feedback">Password valida!</div>
      }
    </div>

    <!-- Pulsante di Registrazione -->
    <div class="form-group">
      <button
        type="submit"
        class="btn btn-primary w-100 btn-lg"
        (click)="clickRegistrati = true"
      >
        Registrati
      </button>
    </div>

    <!-- Link per tornare al login -->
    <div class="text-center mt-3">
      <span>Hai già un account? </span>
      <a routerLink="/auth/login" class="text-primary"> Accedi </a>
    </div>
  </form>
</div>
