<div id="ChatContainer" (click)="dropdownAperta.set(null)">
  <div #chatMessages class="chat-messages">
    <!-- <div class="date-separator">
      <span>Oggi</span>
    </div> -->

    @for (message of messages; track message.id) {
    <app-messaggio
      [messageComp]="messaggiComp[$index]"
      [dropdownAperta]="dropdownAperta()"
      (openDropdown)="changeDropdown($event, message)"
    ></app-messaggio>
    }
  </div>

  <app-chat-input
    [idUtente]="user ? user.id : ''"
    [risposta]="risposta()"
    (sendMessaggio)="sendMessaggio($event)"
    (closeRisposta)="risposta.set(null)"
  ></app-chat-input>
</div>
