@mixin flex-justify($posizione, $aling: start, $direction: row, $display: flex) {
  display: $display;
  justify-content: $posizione;
  align-items: $aling;

  @if ($direction != row) {
    flex-direction: $direction;
  }
}

@mixin full-screen() {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
