<app-container-micio>
  <app-descrizione-micio
    [titolo]="lang.Titolo"
    [descrizione]="lang.Descrizione"
    [immagine]="'https://images.unsplash.com/photo-1515879218367-8466d910aaa4'"
  >
    <div all-row>
      <div class="elemento-centrato p-2">
        <app-tabs-indy [tabs]="tabs" (clickTab)="currentTab.set($event)" />
      </div>

      <br />

      @if (spinner()) {
        <app-spinner-indy [mt]="'5rem'"></app-spinner-indy>
      } @else {
        @switch (currentTab()) {
          @case ("giocatori") {
            <app-table-indy
              [elemTable]="giocatori()"
              [titoloTabella]="lang.Tabelle.Giocatori"
              [colonne]="colonneGiocatori"
              [recordBadge]="badgeTable"
            >
            </app-table-indy>
          }
          @case ("squadre") {
            <app-table-indy
              [elemTable]="squadre()"
              [titoloTabella]="lang.Tabelle.Squadre"
              [colonne]="colonneSquadre"
              [keyPrimary]="'nome'"
              [templateCustom]="customTemplate"
              [recordBadge]="badgeTable"
            >
              <ng-template #customTemplate let-elem>
                <div class="dettagli-squadra">
                  <div class="squadra-descrizione">
                    <p>{{ elem.descrizione }}</p>
                  </div>
                </div>
              </ng-template>
            </app-table-indy>
          }
        }
      }
      <br />
    </div>
  </app-descrizione-micio>
</app-container-micio>
