<div class="card shadow-lg border-0" style="overflow: hidden">
  <div
    class="card-header text-white"
    style="background: linear-gradient(90deg, #0d6efd, #0b5ed7)"
  >
    <div class="d-flex justify-content-between align-items-center">
      <h5 class="card-title mb-0 fs-2">Riepilogo Dati Profilo</h5>
    </div>
  </div>

  <div class="card-body p-4" style="background-color: #f8f9fa">
    <div class="row g-4">
      <!-- Nome Utente -->
      <div class="col-lg-4 col-md-6 col-sm-12">
        <label class="form-label fw-semibold text-primary mb-1">Utente</label>
        <p
          class="form-control-plaintext text-dark bg-light rounded-3 px-3 py-2 shadow-sm mb-0 fs-5"
          style="overflow-wrap: break-word"
        >
          {{ wizardData?.nome }}
        </p>
      </div>

      <!-- Email -->
      <div class="col-lg-4 col-md-6 col-sm-12">
        <label class="form-label fw-semibold text-primary mb-1">Email</label>
        <p
          class="form-control-plaintext text-dark bg-light rounded-3 px-3 py-2 shadow-sm mb-0 fs-5"
          style="overflow-wrap: break-word"
        >
          {{ wizardData?.email }}
        </p>
      </div>

      <!-- Stato -->
      <div class="col-lg-4 col-md-6 col-sm-12">
        <label class="form-label fw-semibold text-primary mb-1">Stato</label>
        <p
          class="form-control-plaintext text-dark bg-light rounded-3 px-3 py-2 shadow-sm mb-0 fs-5"
          style="overflow-wrap: break-word"
        >
          {{ wizardData?.stato || "N/A" }}
        </p>
      </div>

      <!-- Città -->
      <div class="col-lg-4 col-md-6 col-sm-12">
        <label class="form-label fw-semibold text-primary mb-1">Città</label>
        <p
          class="form-control-plaintext text-dark bg-light rounded-3 px-3 py-2 shadow-sm mb-0 fs-5"
          style="overflow-wrap: break-word"
        >
          {{ wizardData?.citta || "N/A" }}
        </p>
      </div>

      <!-- Provincia -->
      <div class="col-lg-4 col-md-6 col-sm-12">
        <label class="form-label fw-semibold text-primary mb-1"
          >Provincia</label
        >
        <p
          class="form-control-plaintext text-dark bg-light rounded-3 px-3 py-2 shadow-sm mb-0 fs-5"
          style="overflow-wrap: break-word"
        >
          {{ wizardData?.provincia + " (" + wizardData?.regione + ")" }}
        </p>
      </div>

      <!-- Team -->
      <div class="col-lg-4 col-md-6 col-sm-12">
        <label class="form-label fw-semibold text-primary mb-1">Team</label>
        <p
          class="form-control-plaintext text-dark bg-light rounded-3 px-3 py-2 shadow-sm mb-0 fs-5"
          style="overflow-wrap: break-word"
        >
          {{ wizardData?.team || "N/A" }}
        </p>
      </div>
    </div>
  </div>
</div>
<!-- Linee Guida Section -->
<app-linee-guida
  (lineeGuidaChanged)="lineeGuidaAccettate.next($event)"
></app-linee-guida>
