@if (!erroreHttp) {
<div class="text-white py-5 mb-4" style="background-color: #4a6572">
  <app-dettagli-manga
    [titolo]="'I Tuoi Manga'"
    [messaggio]="
      'Gestisci i tuoi manga preferiti, quelli che stai leggendo e quelli che hai completato.'
    "
    [descrizione]="''"
    [bottoni]="pulsanti"
  ></app-dettagli-manga>
</div>

<!-- Tabs per Preferiti, Leggendo e Completati -->
<app-tabs-tuoi-manga
  (filterMangaFunc)="filterMangaFunc($event)"
  [selectedTab]="selectedTab"
></app-tabs-tuoi-manga>

<!-- Input per la ricerca di manga da aggiungere ai preferiti -->
<app-input-tuoi-manga
  (aggiungiMangaTab)="aggiungiMangaTab($event)"
  [allMangaSearch]="allMangaSearch"
  [searchQuery]="searchQuery"
  [selectedTab]="selectedTab"
></app-input-tuoi-manga>

@if (selectedTab != 'preferiti') {
<app-select-tab-manga
  (spostaMangaSelezionati)="spostaMangaSelezionati($event)"
></app-select-tab-manga>
}

<!-- Sezione manga filtrati -->
<div class="d-flex flex-wrap mt-4" style="margin-bottom: 3rem">
  @for (manga of sezioneListaManga()[selectedTab]; track $index) {
  <div class="d-flex" style="padding: 0.2rem">
    <app-card-manga
      [manga]="manga"
      [visualizzaPreferito]="selectedTab != 'preferiti'"
      [seleziona]="selectedTab != 'preferiti'"
      (selezionaOpera)="selezionaOpera(manga)"
      (rimuoviPreferito)="rimuoviMangaTab(manga.id)"
      (selezionato)="onSelezionato($event, manga.id)"
    ></app-card-manga>
  </div>
  }
</div>

} @else {
<app-error-http></app-error-http>
}
