@if (!erroreHttp()) {
  <app-header-custom
    [titolo]="tuoiMangaLang.titolo"
    [messaggio]="tuoiMangaLang.messaggio"
    [descrizione]="''"
    [bottoni]="pulsanti"
  ></app-header-custom>

  <app-tabs-tuoi-manga
    [tuoiMangaLang]="tuoiMangaLang"
    [selectedTab]="selectedTab"
    (filterMangaFunc)="filterMangaFunc($event)"
  ></app-tabs-tuoi-manga>

  <app-input-tuoi-manga
    [tuoiMangaLang]="tuoiMangaLang"
    [allMangaSearch]="allMangaSearch"
    [searchQuery]="searchQuery"
    [selectedTab]="selectedTab"
    (aggiungiMangaTab)="aggiungiMangaTab($event)"
  ></app-input-tuoi-manga>

  @if (selectedTab != "preferiti") {
    <app-select-tab-manga
      [tuoiMangaLang]="tuoiMangaLang"
      (spostaMangaSelezionati)="spostaMangaSelezionati($event)"
    ></app-select-tab-manga>
  }

  <div class="d-flex flex-wrap mt-4">
    @for (manga of sezioneListaManga()[selectedTab]; track $index) {
      <div class="d-flex" style="padding: 0.2rem">
        <app-card-manga
          [manga]="manga"
          [visualizzaPreferito]="selectedTab != 'preferiti'"
          [seleziona]="selectedTab != 'preferiti'"
          (selezionaOpera)="selezionaOpera(manga.path)"
          (rimuoviPreferito)="rimuoviMangaTab(manga.id)"
          (selezionato)="onSelezionato($event, manga.id)"
        ></app-card-manga>
      </div>
    }
  </div>
} @else {
  <app-error-http></app-error-http>
}
