<app-custom-navbar
  [goHomeBotton]="'/home'"
  [filtro]="true"
  (filtroChanged)="searchQuery.set($event)"
  (searchActiveFunc)="searchActive.set($event)"
></app-custom-navbar>

<div id="ListaPosts" class="container-fluid py-5">
  <div class="row">
    <!-- Colonna dei filtri (sempre a sinistra con posizione fissa) -->
    @if (searchActive()) {
      <div class="cerca-profili-wrapper">
        <div class="">
          <app-cerca-profili [searchQuery]="searchQuery"></app-cerca-profili>
        </div>
      </div>
    }

    <!-- Colonna dei post (centrata rispetto allo spazio rimanente) -->
    <div class="col-12 col-lg-6 mx-lg-auto">
      <div [ngClass]="searchActive() ? 'margin-posts' : ''">
        @if (postService.newPosts.length > 0) {
          <!-- Lista dei Post -->
          @for (post of postService.newPosts; track $index) {
            <app-card-post [post]="post"></app-card-post>
          }
        } @else {
          <!-- Nessun Post -->
          <app-no-post></app-no-post>
        }
        @if (postService.oldPosts.length > 0) {
          <!-- Separatore stile Instagram -->
          <div class="post-separator text-center my-4">
            <span>Post già visti</span>
          </div>

          <!-- Post già visti -->
          @for (post of postService.oldPosts; track $index) {
            <app-card-post [post]="post"></app-card-post>
          }
        }
      </div>
    </div>
  </div>
</div>
