@if (caricaPersona) {
<!-- Success Page -->
@if (!(user.iscrizione.team && viewSuccespage)) {
<div class="wizard-header">
  @for (step of wizard; track $index) {
  <div class="wizard-step" [class.active]="currentStep() === step.step">
    <div class="circle">{{ step.step }}</div>
    <div class="label">{{ step.titolo }}</div>
  </div>

  }
</div>

@switch (currentStep()) {
<!-- Step 1 -->
@case (1) {
<app-step1></app-step1>
}

<!-- Step 2 -->
@case (2) { @if (user.id) {
<app-step2 (formValido)="formValido = $event"></app-step2>
} @else {
<app-error-iscrizione></app-error-iscrizione>

} }

<!-- Step 3 -->
@case (3) {
<app-step3
  [wizardData]="wizardService.getWizardForm()"
  (lineeGuidaEvent)="lineeGuidaAccettate = $event"
>
</app-step3>
} }

<!-- Pulsanti -->
@if (user.id || currentStep()!=2) {
<div class="d-flex justify-content-center mt-4">
  <div
    class="d-flex justify-content-between"
    style="max-width: 70rem; width: 100%"
  >
    <button class="btn btn-primary btn-lg mx-3" (click)="prevStep()">
      Indietro
    </button>
    <button class="btn btn-success btn-lg mx-3" (click)="nextStep()">
      {{ currentStep() == 3 ? "Invia" : "Avanti" }}
    </button>
  </div>
</div>
}
<br />
} @else {
<app-success-page
  [user]="user!"
  [navigateToHome]="navigateToHome"
  [editInfo]="editInfo"
></app-success-page>
} }
