<app-tabs-indy
  [tabs]="tabs"
  [tipo]="'wizard'"
  [disableNext]="disableNext()"
  (prev)="prevStep($event)"
  (next)="nextStep($event)"
>
  <div wizardContent>
    @if (squadreInGame().length === 0) {
      <app-spinner-indy></app-spinner-indy>
    } @else {
      @switch (currentStep()) {
        @case ("1") {
          <app-multi-form
            [strutturaForm]="strutturaForm()"
            (formValido)="formValido.set($event)"
            (subscribeForm)="aggiornaUserForm($event)"
            [visualizzaPulsanti]="false"
          ></app-multi-form>
        }
        @case ("2") {
          <app-step2
            [user]="user"
            (lineeGuidaEvent)="lineeGuidaAccettate.set($event)"
          ></app-step2>
        }
      }
    }
  </div>
</app-tabs-indy>
