<!-- @if (sezioni().length > 0) {
  <app-scroll-indy [sezioni]="sezioni()">
    <div primo>
      @if (canzoniMiciomania().length > 0) {
        <app-card-indy
          [elems]="canzoniMiciomania"
          [altezzaImg]="'20rem'"
          [tipoBottone]="'Play'"
          [classBody]="'manga-class'"
          [tipoSlice]="'page'"
          [currentButton]="currentButtonSong"
          (clickStopBotton)="msu.sc.stopSong()"
        >
        </app-card-indy>
      }
    </div>
    <div secondo>
      @if (canzoniUtente().length > 0) {
        <app-card-indy
          [elems]="canzoniUtente"
          [altezzaImg]="'20rem'"
          [tipoBottone]="'Play'"
          [classBody]="'manga-class'"
          [tipoSlice]="'page'"
          (clickStopBotton)="msu.sc.stopSong()"
        >
        </app-card-indy>
      } @else {
        <div class="elementi-colonna">
          <h3>Non ci sono Canzoni in questa sezione</h3>
          <p>Vai su invia Proposta e inizia a mandarne una</p>
        </div>
      }
    </div>
  </app-scroll-indy>
} @else {
  <app-spinner-indy [mt]="'10rem'"></app-spinner-indy>
} -->
