@if (canzoniMiciomania().length > 0) {
  <section id="CanzoniMiciomania" style="margin-top: 5rem">
    <app-custom-scroll
      [titolo]="'Canzoni Miciomania'"
      [icona]="'bi bi-arrow-down'"
      [nomeIcona]="'Vai a canzoni Utente'"
      [idComponent]="'CanzoniUtente'"
      [lunghezzaFiltro]="canzoniMiciomania().length"
    ></app-custom-scroll>

    <app-paginazione-custom
      [filtri]="filtriMiciomania"
      [currentPage]="currentPageMiciomania"
    ></app-paginazione-custom>

    <div class="grid-card-layout px-2 mt-3">
      @for (canzone of filtriMiciomania.elemFilter(); track canzone.idUtente) {
        <app-card-custom
          [titolo]="canzone.nome"
          [link]="canzone.copertina || defaultPic"
          [descrizioneHTML]="
            `Genere: <strong>${canzone.genere}</strong><br>
            Autore: <em>${canzone.idUtente}</em>`
          "
          [altezzaImg]="'20rem'"
          [tipo]="'Song'"
          [classBody]="'manga-class'"
          [setCanzone]="msu.sc.currentCanzone()"
          (clickBotton)="msu.playSong(canzone, canzoniMiciomania())"
          (click2Botton)="msu.sc.stopSong()"
        ></app-card-custom>
      }
    </div>
  </section>
} @else {
  <app-spinner [mt]="'10rem'"></app-spinner>
}

@if (canzoniUtente().length > 0) {
  <section id="CanzoniUtente" style="margin-top: 5rem">
    <app-custom-scroll
      [titolo]="'Canzoni Utente'"
      [icona]="'bi bi-arrow-up'"
      [nomeIcona]="'Vai a canzoni Miciomania'"
      [lunghezzaFiltro]="canzoniUtente().length"
    ></app-custom-scroll>

    <app-paginazione-custom
      [filtri]="filtriUtente"
      [currentPage]="currentPageUtente"
    ></app-paginazione-custom>

    <div class="grid-card-layout px-2 mt-3">
      @for (canzone of filtriUtente.elemFilter(); track canzone.idUtente) {
        <app-card-custom
          [titolo]="canzone.nome"
          [link]="canzone.copertina || defaultPic"
          [descrizioneHTML]="
            `Genere: <strong>${canzone.genere}</strong><br>
            Autore: <em>${canzone.idUtente}</em>`
          "
          [altezzaImg]="'20rem'"
          [tipo]="'Song'"
          [classBody]="'manga-class'"
          [setCanzone]="msu.sc.currentCanzone()"
          (clickBotton)="msu.playSong(canzone, canzoniUtente())"
          (click2Botton)="msu.sc.stopSong()"
        ></app-card-custom>
      }
    </div>
  </section>
} @else {
  <app-spinner [mt]="'10rem'"></app-spinner>
}
