@if(volumiCaricati) {
<div class="container py-4" style="max-width: 50rem">
  <div class="d-flex justify-content-between align-items-center mb-4">
    <app-botton-custom
      [text]="'Indietro'"
      [icon1]="'bi bi-arrow-left'"
      [color]="'#e9ecef'"
      (clickBotton)="router.navigate(['/manga'])"
    ></app-botton-custom>

    <h2 class="text-center mb-0 flex-grow-1">
      {{ volumiLang.volumiDi + " " + nomeOpera }}
    </h2>
  </div>

  @if(volumiOpera.length === 0) {
  <div class="alert alert-warning" role="alert">
    {{ volumiLang.noVolumi }}
  </div>
  } @if(volumiOpera.length > 0) {
  <div class="table-responsive">
    <table class="table table-striped table-bordered" id="VolumiMangaTable">
      <thead>
        <tr>
          @for(column of ['Numero', 'Leggi']; track $index) {
          <th class="text-center">{{ column }}</th>
          }
        </tr>
      </thead>
      <tbody>
        @for(volume of volumiOpera; track volume.id) {
        <tr>
          <td class="text-center">
            Volume {{ " " + (volume.id | padZeroVolume) }}
          </td>
          <td class="text-center">
            <i
              class="bi bi-book"
              style="color: rgb(0, 55, 255); cursor: pointer"
              (click)="$event.view?.open(volume.link)"
            ></i>
          </td>
        </tr>
        }
      </tbody>
    </table>
  </div>
  }
</div>
}
<style>
  #VolumiMangaTable {
    td,
    th {
      padding: 10px;
      text-align: center;
      height: 60px;
      font-size: 1.1rem;
      border: 1px solid rgba(13, 13, 13, 0.533);

      &:nth-child(odd) > * {
        background-color: white;
      }

      &:nth-child(even) > * {
        background-color: #e2e2e2;
      }
    }
  }
</style>
