<app-container-micio>
  <app-descrizione-micio
    [titolo]="'Manga'"
    [descrizione]="
      'Leggi i tuoi manga preferiti e scopri le avventure di Indy e Claudia'
    "
    [immagine]="'https://images.unsplash.com/photo-1515879218367-8466d910aaa4'"
  >
    <div half-row>
      <app-toolbar-micio
        [stats]="mangaToolbar()"
        [placeholder]="'Cerca per nome, autore...'"
        [(searchQuery)]="searchQuery"
      />
    </div>

    <div all-row>
      <div class="elemento-centrato p-2">
        <app-tabs-indy [tabs]="tabs" (clickTab)="changeTab($event)" />
      </div>

      <br />

      <app-sidebar-indy
        [titolo]="'Categorie'"
        [elementi]="categorie"
        [(selezionato)]="currentCategoria"
      >
        <div down-content>
          <app-sidebar-indy
            [width]="'100%'"
            [titolo]="'Sottocategorie'"
            [elementi]="sottoCategorie"
            [(selezionato)]="currentSottoCategoria"
          />
        </div>

        @if (viewSpinner()) {
          <app-spinner-indy [mt]="'5rem'" />
        } @else {
          <app-card-indy
            [elems]="filtri().elemFilter()"
            [altezzaImg]="'15rem'"
          />
        }
      </app-sidebar-indy>

      <div class="content-wrapper"></div>
    </div>
    <br />
  </app-descrizione-micio>
</app-container-micio>
