<app-container-micio>
  <app-descrizione-micio
    [titolo]="'Manga'"
    [descrizione]="
      'Leggi i tuoi manga preferiti e scopri le avventure di Indy e Claudia'
    "
    [immagine]="'https://images.unsplash.com/photo-1515879218367-8466d910aaa4'"
  >
    <div half-row>
      <app-manga-toolbar [(searchQuery)]="searchQuery" />
    </div>

    <div all-row>
      <div class="elemento-centrato p-2">
        <app-tabs-indy [tabs]="tabs" (clickTab)="changeTab($event)" />
      </div>
      <br />
      <div class="container">
        <div class="sidebar-wrapper">
          <app-sidebar-indy
            [titolo]="'Categorie'"
            [elementi]="categorie"
            [selezionato]="'ufficiali'"
            [(selezionato)]="currentCategoria"
          />
        </div>

        <div class="content-wrapper">
          @if (viewSpinner()) {
            <app-spinner-indy [mt]="'5rem'" />
          } @else {
            <app-card-indy
              [elems]="filtri().elemFilter()"
              [altezzaImg]="'15rem'"
            />
          }
        </div>
      </div>
    </div>
  </app-descrizione-micio>
</app-container-micio>
