@if (isHome$ | async) {
  <app-custom-navbar>
    <div leftContent>
      <app-user-active
        [homeLang]="homeLang()"
        [user]="user"
        [inizialiUser]="inizialiUser"
      ></app-user-active>
    </div>

    <div rightContent>
      <app-home-toggle
        [homeLang]="homeLang()"
        [credenziali]="user.credenziali"
        [inizialiUser]="inizialiUser"
      >
        <div impostazioniContent style="margin-left: 1rem">
          <app-menu-impostazioni
            [homeLang]="homeLang()"
            [user]="user"
            (cursore)="cursoreAperto.set(!cursoreAperto())"
          >
          </app-menu-impostazioni>
        </div>

        <div profiliContent style="margin-left: 1rem">
          <app-menu-profili
            [homeLang]="homeLang()"
            [user]="user"
            (logout)="logout()"
          ></app-menu-profili>
        </div>
      </app-home-toggle>
    </div>
  </app-custom-navbar>

  @if (cursoreAperto()) {
    <app-cursore class="pc-only" [homeLang]="homeLang()"></app-cursore>
  }

  <app-carousel-home (canzone)="controlloPunteggio()"></app-carousel-home>

  <app-social-link></app-social-link>

  <footer class="text-center py-4">
    <p>&copy; 2026 MiciomaniWeb. Tutti i diritti riservati.</p>
  </footer>
}

<router-outlet></router-outlet>
