<ng-container *ngIf="this.router.url == '/home'">
  <app-navbar
    [credenziali]="user.credenziali"
    [inizialiUser]="inizialiUser"
    [profilesMenu]="menuBarProfili"
    [settingsMenu]="menuBarImpostazioni"
  ></app-navbar>

  <ng-template #menuBarImpostazioni>
    <app-menu-impostazioni
      (cursore)="
        componenteAperto = componenteAperto == 'cursore' ? '' : 'cursore'
      "
    >
    </app-menu-impostazioni>
  </ng-template>

  <ng-template #menuBarProfili>
    <app-menu-profili
      [user]="user"
      (logout)="logout()"
      (cercaProfili)="
        componenteAperto = componenteAperto == 'profili' ? '' : 'profili'
      "
    ></app-menu-profili>
  </ng-template>

  <app-cursore
    *ngIf="componenteAperto == 'cursore'"
    class="pc-only"
  ></app-cursore>

  <app-cerca-profili
    *ngIf="componenteAperto == 'profili'"
    [profiliPronti]="authService.profiliPronti"
    [users]="this.authService.users"
    [goToProfilo]="goToProfilo"
    [chiudiComponente]="chiudiComponente"
  ></app-cerca-profili>

  <app-card-home></app-card-home>

  <app-social-link></app-social-link>

  <footer class="text-center py-4">
    <p>&copy; 2024 MiciomaniWeb. Tutti i diritti riservati.</p>
  </footer>
</ng-container>

<router-outlet></router-outlet>
