@if (isHome$ | async) {
  <app-navbar-indy>
    <div rightContent>
      <div class="elementi-laterali gap-2">
        <app-toggle-indy
          [icona]="'bi bi-bell'"
          [titolo]="'Notifiche'"
          [toggleMenus]="impostazioniToggle"
        />
        <app-toggle-indy
          [icona]="'bi bi-gear'"
          [titolo]="'Impostazioni'"
          [toggleMenus]="impostazioniToggle"
        />
      </div>
    </div>
  </app-navbar-indy>

  <app-container-micio>
    <app-descrizione-micio
      [titolo]="'Manga'"
      [descrizione]="
        'Scopri migliaia di manga, salvali nei preferiti e tieni traccia della tua lettura.'
      "
      [immagine]="
        'https://images.unsplash.com/photo-1515879218367-8466d910aaa4'
      "
    >
    </app-descrizione-micio>
  </app-container-micio>
}

<router-outlet></router-outlet>
