<footer class="footer-section">
  <app-container-micio [background]="'transparent'">
    <div class="footer-grid p-5">
      <!-- Logo -->
      <div class="footer-brand">
        <h2>Miciomania</h2>

        <p>
          Il tuo mondo di intrattenimento: manga, musica, giochi e tanto altro.
        </p>

        <span class="heart"> 💜 </span>
      </div>

      <!-- Link utili -->
      <div>
        <h5>Link Utili</h5>

        <ul>
          <li><a>Home</a></li>
          <li><a>Manga</a></li>
          <li><a>Musica</a></li>
          <li><a>Giochi</a></li>
          <li><a>Classifiche</a></li>
        </ul>
      </div>

      <!-- Info -->
      <div>
        <h5>Info</h5>

        <ul>
          <li><a>Chi siamo</a></li>
          <li><a>Regolamento</a></li>
          <li><a>Privacy Policy</a></li>
          <li><a>Termini di utilizzo</a></li>
          <li><a>Contattaci</a></li>
        </ul>
      </div>

      <!-- Supporto -->
      <div>
        <h5>Supporto</h5>

        <ul>
          <li><a>FAQ</a></li>
          <li><a>Aiuto</a></li>
          <li><a>Segnala un problema</a></li>
        </ul>
      </div>

      <div>
        <h5>Seguici</h5>

        <div class="footer-social">
          <a>
            <i class="bi bi-instagram"></i>
          </a>

          <a>
            <i class="bi bi-telegram"></i>
          </a>

          <a>
            <i class="bi bi-whatsapp"></i>
          </a>

          <a>
            <i class="bi bi-discord"></i>
          </a>

          <a>
            <i class="bi bi-youtube"></i>
          </a>

          <a>
            <i class="bi bi-tiktok"></i>
          </a>
        </div>
      </div>
    </div>

    <div class="footer-bottom">
      © 2024 Miciomania. Tutti i diritti riservati.
    </div>

    <br />
  </app-container-micio>
</footer>

<br />
