<div
  class="position-fixed top-0 start-0 w-100 h-100 d-flex justify-content-center align-items-center"
  style="background: var(--border-hover); z-index: 1050"
>
  <div
    class="card shadow"
    style="
      width: 400px;
      background: var(--surface-color);
      border-radius: 12px;
      overflow: hidden;
    "
  >
    <div
      class="card-header text-white"
      style="
        background-color: var(--primary-color);
        font-size: 18px;
        font-weight: bold;
        text-align: center;
      "
    >
      {{ profiloLang.nuovoTweet }}
    </div>

    <div class="card-body" style="padding: 20px">
      <form (ngSubmit)="inviaTweet()">
        <div class="mb-3">
          <textarea
            class="form-control"
            [(ngModel)]="testo"
            name="testo"
            rows="4"
            [placeholder]="profiloLang.placeholderNT"
            style="
              font-size: 16px;
              border-radius: 8px;
              padding: 10px;
              resize: none;
              background-color: var(--surface-color);
              border-color: var(--border-color);
              color: var(--text-color);
            "
            required
          ></textarea>
        </div>

        <div class="d-flex justify-content-end">
          <button
            type="button"
            class="btn me-2"
            style="
              font-size: 14px;
              font-weight: bold;
              border-radius: 8px;
              padding: 8px 16px;
              border: 1px solid var(--border-color);
              color: var(--text-secondary);
              background-color: var(--surface-color);
            "
            (click)="chiudiModale()"
          >
            {{ profiloLang.buttonAnnullaNT }}
          </button>
          <button
            type="submit"
            class="btn"
            style="
              font-size: 14px;
              font-weight: bold;
              border-radius: 8px;
              padding: 8px 16px;
              border: 1px solid var(--primary-color);
              color: var(--surface-color);
              background-color: var(--primary-color);
            "
          >
            Tweet
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
