<section class="social-section py-3">
  <div class="mb-4 title-list">
    <h5>Resta connesso con Miciomania</h5>
    <p>Unisciti alle nostre community e seguici sui social!</p>
  </div>

  <div class="container-social">
    @if (mnService.social().length > 0) {
      <div class="social-grid">
        @for (s of mnService.social(); track s.nome) {
          <div class="social-card" (click)="openLink(s.link)">
            <div class="social-icon">
              <i class="bi" [class]="s.icona" [style.color]="s.colore"> </i>
            </div>

            <div class="social-content">
              <h5>{{ s.nome }}</h5>

              <span>
                {{ s.descrizione }}
              </span>
            </div>

            <div class="arrow">
              <i class="bi bi-arrow-up-right"></i>
            </div>
          </div>
        }
      </div>
    } @else {
      <app-spinner-indy></app-spinner-indy>
    }
  </div>
</section>
