@if (loadedAdmin()) {
  <app-tabs-indy
    [tipo]="'lista'"
    (clickTab)="tabellaView.set($event)"
  ></app-tabs-indy>

  @if (tabellaView() === "1") {
    <div class="elemento-centrato">
      <app-table-indy
        [titoloTabella]="'Tutti gli Utenti'"
        [elemTable]="allUSers"
        [noElement]="'Nessun Utente'"
        [elemForPage]="elemForAllPage"
        [colonne]="colonneSingle"
        [azioni]="pulsanti"
        [recordBadge]="badgeRuolo"
      ></app-table-indy>
    </div>
  } @else {
    <div class="grid-card-layout" style="--card-width: 30rem">
      @for (ruolo of ruoli; track $index) {
        @if (userMapByRuolo[ruolo]().length > 0) {
          <app-table-indy
            [titoloTabella]="ruolo"
            [elemTable]="userMapByRuolo[ruolo]"
            [noElement]="'Nessun Utente'"
            [elemForPage]="elemForPage[ruolo]"
            [colonne]="colonne"
            [azioni]="pulsanti"
          ></app-table-indy>
        }
      }
    </div>
  }

  @if (editUser()) {
    <app-modal-indy
      [title]="'Modifica'"
      [showFooter]="true"
      [secondaryButtonText]="'Annulla'"
      [primaryButtonText]="'Salva'"
      [disablePrimaryButton]="!formValido()"
      (primaryAction)="onSave()"
      (secondaryAction)="editUser.set(null)"
      (close)="editUser.set(null)"
    >
      <div bodyModal>
        <app-form-indy
          [visualizzaPulsanti]="false"
          [strutturaForm]="strutturaForm"
          (formValido)="formValido.set($event)"
        ></app-form-indy>
      </div>
    </app-modal-indy>
  }
} @else {
  <app-spinner-indy [mt]="'10rem'"></app-spinner-indy>
}
