<div class="container py-4">
  <!-- Header -->
  <app-header-admin [adminLang]="adminLang"></app-header-admin>

  <!-- Griglia delle card -->
  <app-griglia-admin
    [adminLang]="adminLang"
    [user]="user"
    [userMapByRuolo]="userMapByRuolo"
    (eliminaRuolo)="eliminaRuolo($event)"
    (modificaRuolo)="modificaRuolo($event)"
  ></app-griglia-admin>

  <!-- Modale -->
  @if (editAdmin()) {
    <app-edit-admin
      [adminLang]="adminLang"
      [userEdit]="userEdit"
      (chiudiModale)="editAdmin.set(false)"
      (ruoloModificato)="ruoloModificato($event)"
    ></app-edit-admin>
  }
</div>
