@use './scss/body.scss' as *;
@use './scss/mixin.scss' as *;
@use './scss/variables.scss' as *;

.pc-only {
  @media (max-width: 767.98px) {
    display: none;
  }
}

.mobile-only {
  @media (min-width: 767.98px) {
    display: none;
  }
}

.elemento {
  &-iniziale {
    --align-start: start;
    @include flex-justify(flex-start, var(--align-start));
  }

  &-finale {
    --align-end: start;
    @include flex-justify(flex-end, var(--align-end));
  }

  &-centrato {
    --align-center: baseline;
    @include flex-justify(center, var(--align-center));
  }
}

.elementi {
  &-laterali {
    @include flex-justify(space-between, center);
  }

  &-colonna {
    @include flex-justify(center, center, column);
  }
}

.grid-card-layout {
  --card-width: 20rem;
  --card-position: center;

  grid-template-columns: repeat(auto-fill, var(--card-width));
  gap: 1.5rem;

  @media (max-width: 767.98px) {
    @include flex-justify(center, stretch, row, grid);
  }

  @media (min-width: 767.98px) {
    @include flex-justify(var(--card-position), stretch, row, grid);
  }
}
