@use './scss/mixin.scss' as *;
@use './scss/variables.scss' as *;

.pc-only {
  @media (max-width: 767.98px) {
    display: none;
  }
}

.elemento {
  &-iniziale {
    --aling-start: start;
    @include flex-justify(flex-start, var(--aling-start));
  }

  &-finale {
    --aling-end: start;
    @include flex-justify(flex-end, var(--aling-end));
  }

  &-centrato {
    --aling-center: baseline;
    @include flex-justify(center, var(--aling-center));
  }
}

.elementi {
  &-laterali {
    @include flex-justify(space-between, center);
  }

  &-colonna {
    @include flex-justify(center, center, column);
  }
}

.grid-card-layout {
  --card-width: 20rem;
  --card-position: center;

  gap: 1.5rem;
  grid-template-columns: repeat(auto-fill, var(--card-width));

  @include flex-justify(var(--card-position), stretch, row, grid);
}
