@if (isManga$ | async) {
  @if (!erroreHttp()) {
    <app-header-custom
      [titolo]="mangaLang.titolo"
      [descrizione]="mangaLang.descrizione"
      [bottoni]="pulsanti"
    ></app-header-custom>

    @if (mangaService.listaManga().length > 0) {
      <app-filtri-manga
        [mangaLang]="mangaLang"
        [filterSelect]="filterSelect"
        (onGenreChange)="filterSelect.genere.set($event)"
      ></app-filtri-manga>

      <app-tabs-manga [tabs]="tabs"></app-tabs-manga>

      <app-icone-lista
        class="pc-only"
        [classNG]="perIniziale()"
        [ngClass1]="'lista'"
        [ngClass2]="'iniziale'"
        (classNGChange)="perIniziale.set($event)"
      ></app-icone-lista>

      @if (perIniziale() === "iniziale") {
        @for (lettera of alfabeto; track $index) {
          @if (mangaPerIniziale()[lettera].length > 0) {
            <div class="mt-5">
              <h5 class="text-black fw-bold border-bottom pb-2">
                {{ lettera }}
              </h5>
            </div>
            <div class="row mt-3 g-3">
              @for (manga of mangaPerIniziale()[lettera]; track manga.id) {
                <div
                  class="col-6 col-sm-4 col-md-3 col-lg-2 d-flex justify-content-center"
                >
                  <app-card-manga
                    [manga]="manga"
                    [preferito]="mangaPreferiti[manga.id]"
                    (selezionaOpera)="selezionaOpera(manga.path)"
                  ></app-card-manga>
                </div>
              }
            </div>
          }
        }
      } @else {
        <div class="mt-4 d-flex flex-wrap">
          @for (manga of filtri.searchElems(); track manga.id) {
            <div class="d-flex" style="padding: 0.2rem">
              <app-card-manga
                [manga]="manga"
                [preferito]="mangaPreferiti[manga.id]"
                (selezionaOpera)="selezionaOpera(manga.path)"
              ></app-card-manga>
            </div>
          }
        </div>
      }
    } @else {
      <app-spinner [mt]="'10rem'"></app-spinner>
    }
  } @else {
    <app-error-http></app-error-http>
  }
}

<router-outlet></router-outlet>
