@if (isManga$ | async) {
<!-- Chiamata riuscita -->
@if (!erroreHttp) {
<!-- Dettagli Manga -->
<div class="text-white py-3 mb-2" style="background-color: #9fb987">
  <app-dettagli-manga
    [titolo]="mangaLang.titolo"
    [messaggio]="mangaLang.messaggio"
    [descrizione]="mangaLang.descrizione"
    [bottoni]="pulsanti"
  ></app-dettagli-manga>
</div>

<!-- Filtri Manga -->
<app-filtri-manga
  [mangaLang]="mangaLang"
  [filterSelect]="filterSelect"
  (onGenreChange)="onGenreChange($event)"
></app-filtri-manga>

<!-- Tabs Navigation -->
<app-tabs-manga [tabs]="tabs"></app-tabs-manga>

@if(aggiornamentoManga) {
<p>{{ mangaLang.aggiornamento }}</p>
}

<!-- Manga list display -->
<div class="mt-4 d-flex flex-wrap">
  @for(manga of filteredManga(); track manga.id){
  <div class="d-flex" style="padding: 0.2rem">
    <app-card-manga
      [manga]="manga"
      [preferito]="mangaPreferiti[manga.id]"
      (selezionaOpera)="selezionaOpera(manga)"
    ></app-card-manga>
  </div>
  }
</div>
} @else {<app-error-http></app-error-http>} }

<router-outlet></router-outlet>
