@if (isManga$ | async) {
<!-- Chiamata riuscita -->
@if (!erroreHttp) {
<!-- Dettagli Manga -->
<div class="text-white py-5 mb-4" style="background-color: #9fb987">
  <app-dettagli-manga
    [titolo]="'Benvenuto nel Mondo dei Manga'"
    [messaggio]="
      'Esplora i migliori manga, trova nuovi titoli e leggi le ultime novità online!'
    "
    [descrizione]="
      'Scopri opere da leggere, cerca per autore, genere o titolo.'
    "
    [bottoni]="pulsanti"
  ></app-dettagli-manga>
</div>

<!-- Filtri Manga -->
<app-filtri-manga
  (onGenreChange)="onGenreChange($event)"
  [filterSelect]="filterSelect"
></app-filtri-manga>

<!-- Tabs Navigation -->
<app-tabs-manga [tabs]="tabs"></app-tabs-manga>

@if(aggiornamentoManga) {
<p>Aggiornamento manga in corso...</p>
}

<!-- Manga list display -->
<div class="mt-4 d-flex flex-wrap" style="margin-bottom: 3rem">
  @for(manga of filteredManga(); track manga.id){
  <div class="d-flex" style="padding: 0.2rem">
    <app-card-manga
      [manga]="manga"
      [preferito]="mangaPreferiti[manga.id]"
      (selezionaOpera)="selezionaOpera(manga)"
    ></app-card-manga>
  </div>
  }
</div>
} @else {<app-error-http></app-error-http>} }

<router-outlet></router-outlet>
