<div
  class="container border border-primary rounded-lg p-4 shadow-lg text-center mt-4"
  style="max-width: 75rem; background-color: #f8f9fa"
>
  <app-dettagli-game
    [titolo]="'Memory 🧠'"
    [descrizione]="
      'Vediamo quanto ci metti per trovare tutte le coppie, mettici troppo e KoronVVX manderà tutti i suoi iscritti a infrangere i tuoi sogni e cucinerà la tua anima'
    "
  ></app-dettagli-game>

  <div class="row no-gutters justify-content-center">
    <!-- Iteriamo attraverso tutte le carte nel mazzo -->
    <div *ngFor="let card of cards; let i = index" class="col-auto p-1">
      <!-- Selezionata -->
      @if (selectedCards.has(i) && selectedCards.get(i) &&
      !coppieTrovate.includes(card.code)) {
      <div class="card" style="width: 160px; height: 240px">
        <img
          [src]="card.image"
          class="card-img-top h-100 w-100"
          [alt]="card.code"
          style="cursor: pointer"
        />
      </div>
      } @if (!(selectedCards.has(i) && selectedCards.get(i))) {
      <div class="card" style="width: 160px; height: 240px">
        <img
          src="https://deckofcardsapi.com/static/img/back.png"
          class="card-img-top h-100 w-100"
          alt="Card back"
          style="cursor: pointer"
          (click)="selectCardFunc(card, i)"
        />
      </div>
      }
    </div>
  </div>
</div>
