<div class="chat-container" (click)="dropdownAperta().messaggioAperto = 0">
  <div
    class="chat-header d-flex align-items-center justify-content-between p-3"
  >
    <i class="bi bi-arrow-left fs-3" (click)="chiudiChat.emit()"></i>
    <h2 class="text-center flex-grow-1">Miciomania Chat</h2>
  </div>

  @if (!spinner()) {
  <div
    #chatMessages
    class="chat-messages"
    style="overflow-y: auto; height: 500px"
  >
    @for (message of messages(); track message.id) {
    <app-messaggio
      [messageComp]="getIMessaggioComponent(message)"
      [dropdownAperta]="dropdownAperta()"
      (openDropdown)="changeDropdown($event)"
    ></app-messaggio>
    }
  </div>

  } @else {
  <div class="chat-messages">
    <div
      class="spinner-border text-dark rounded-circle me-3"
      role="status"
      style="
        width: 50px;
        height: 50px;
        margin-top: 10rem;
        margin-left: 10rem;
        margin-bottom: 10rem;
      "
    >
      <span class="visually-hidden">Loading...</span>
    </div>
  </div>
  }

  <div class="chat-input">
    <input
      [(ngModel)]="newMessage"
      [placeholder]="
        idUtente ? 'Scrivi un messaggio' : 'Effettua login per scrivere'
      "
      (keyup.enter)="sendMessaggio()"
      [disabled]="!idUtente || spinner()"
    />
    <button (click)="sendMessaggio()">Invia</button>
  </div>
</div>
