<app-custom-navbar [altriBottoni]="pulsanti()"></app-custom-navbar>

@if (isGames$ | async) {
  <div class="container" style="max-width: 86rem">
    @if (showDetails()) {
      <app-punteggi-games
        [punteggioPersonale]="punteggioPersonale"
        [squadre]="squadre()"
      ></app-punteggi-games>
    }

    <app-card-indy
      [elems]="gamesConstant"
      [altezzaImg]="'15rem'"
      [titoloLista]="'Lista Giochi Miciomani'"
    ></app-card-indy>
  </div>
}

<router-outlet></router-outlet>
