@if (isGames$ | async) {
  <app-header-custom
    [titolo]="'Games Miciomania'"
    [descrizione]="
      'Divertiti a giocare con i cuori delle persone e ottenere punti'
    "
    [bottoni]="pulsanti()"
  ></app-header-custom>

  <div class="container">
    @if (showDetails()) {
      <app-punteggi-games
        [punteggioPersonale]="punteggioPersonale"
        [squadre]="squadre()"
      ></app-punteggi-games>
    }

    <div class="grid-card-layout px-2 mt-3">
      @for (gioco of gamesConstant; track gioco.nome) {
        <app-card-custom
          [link]="gioco.linkImg"
          [titolo]="gioco.nome"
          [descrizione]="gioco.descrizione"
          [titoloBottone]="'Gioca'"
          [classBody]="'games-class'"
          [altezzaImg]="'15rem'"
        ></app-card-custom>
      }
    </div>
  </div>
}

<router-outlet></router-outlet>
